Repository cloud-pi-native/console, pull requests merged in 2022-12, with the labels that each got.

#94 Demo/ansible is back
  apps/ansible-api/src/ansible.js
  apps/ansible-api/src/controllers/project.js
  apps/ansible-api/src/controllers/repository.js
  apps/ansible-api/src/utils/env.js
  apps/ansible-api/src/utils/tools.js
  apps/client/Dockerfile
  apps/server/Dockerfile
  apps/server/src/controllers/project.js
  apps/server/src/routes/project.spec.js
  apps/server/src/utils/env.js
  apps/server/src/utils/matches.js
  apps/server/src/utils/tools.js
  ci/scripts/push-to-quay.sh
  docker/docker-compose.dev.yml
  docker/docker-compose.e2e.yml
  docker/docker-compose.prod.yml
  package.json
Labels: bug, docker, tech, CI/CD

#104 Tech/track request
  apps/ansible-api/package.json
  apps/ansible-api/src/app.js
  apps/ansible-api/src/controllers/project.js
  apps/ansible-api/src/controllers/repository.js
  apps/client/package.json
  apps/server/src/app.js
  apps/server/src/controllers/project.js
  pnpm-lock.yaml
Labels: tech

#97 Ci/improve ci
  .github/workflows/release.yml
  .github/workflows/scan.yml
  .github/workflows/test.yml
  .husky/commit-msg
  apps/server/Dockerfile
  ci/scripts/build-matrix.sh
  ci/scripts/vuln-report.sh
  commitlint.config.cjs
  docker/docker-compose.prod.yml
  package.json
  pnpm-lock.yaml
Labels: tech, CI/CD

#107 feat: :art: introduce CLONE_DIR, where to clone
  apps/ansible-api/clone.sh
  docker/docker-compose.ci.yml
  docker/docker-compose.prod.yml
  env/.env-example
  env/.env.ci-example
Labels: docker, tech, CI/CD

#108 fix: :package: add jmespath lib
  apps/ansible-api/Dockerfile
Labels: docker, tech, CI/CD

#109 Fix/enforce sql injection protection
  apps/ansible-api/src/controllers/project.js
  apps/ansible-api/src/controllers/repository.js
  apps/server/src/controllers/project.js
  apps/server/src/models/project-queries.js
Labels: dette technique, tech, security

#110 docs: :memo: update readme
  README.md
Labels: documentation

#115 Tech/fix env variables
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.e2e.yml
  docker/docker-compose.prod.yml
  env/.env-example
  env/.env.ci-example
Labels: docker, tech
